<!-- common libraries. required for every page-->
<script src="{{STATIC_URL}}base/sing/vendor/jquery/dist/jquery.min.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/jquery-pjax/jquery.pjax.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/widgster/widgster.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/pace.js/pace.js" data-pace-options='{ "target": ".content-wrap", "ghostTime": 1000 }'></script>
<script src="{{STATIC_URL}}base/sing/vendor/jquery-touchswipe/jquery.touchSwipe.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/jquery-touchswipe/jquery.touchSwipe.js"></script>

<!-- common app js -->
<script src="{{STATIC_URL}}base/sing/js/settings.js"></script>
<script src="{{STATIC_URL}}base/sing/js/app.js"></script>