{% extends 'base/base.html' %}
{% load crispy_forms_tags%}

{% block content %}
<h1 class="page-title">Company <span class="fw-semi-bold">List</h1>

<div class="panel">
    <ol class="breadcrumb">
        <li>Home</li>
        <li>Organization</li>
        <li>Company</li>
        <li>Create</li>
    </ol>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="widget">
            <header>
                <h4>
                    Create a new <span class="fw-semi-bold">Company</span>
                </h4>
                <div class="widget-controls">
                    <span onClick="history.go(-1)"><i class="glyphicon glyphicon-remove"></i></span>
                </div>
            </header>
            <div class="widget-body">
                {% crispy form %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{{STATIC_URL}}base/sing/vendor/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/jquery-autosize/jquery.autosize.min.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/bootstrap3-wysihtml5/lib/js/wysihtml5-0.3.0.min.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/bootstrap3-wysihtml5/src/bootstrap3-wysihtml5.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/select2/select2.min.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/switchery/dist/switchery.min.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/moment/min/moment.min.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/jasny-bootstrap/js/inputmask.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/jasny-bootstrap/js/fileinput.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/holderjs/holder.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/dropzone/dist/min/dropzone.min.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/markdown/lib/markdown.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/bootstrap-markdown/js/bootstrap-markdown.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>

<script>
    $(".dateinput").datetimepicker({
        format: 'DD/MM/YYYY'
    })
</script>
{% endblock %}