{% extends 'base/base.html' %}
{% block content %}
<h1 class="page-title">Company <span class="fw-semi-bold">List</span></h1>
<div class="panel">
    <ol class="breadcrumb">
        <li>Home</li>
        <li>Organization</li>
        <li class="active">Company</li>
    </ol>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <header>
                <h4>
                    Company <span class="fw-semi-bold">List</span>
                </h4>
                <div class="widget-controls">
                    <a href="{% url 'company-create' %}"><i class="glyphicon glyphicon-plus"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Summary</th>
                        <th>Website</th>
                        <th >Phone</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.summary }}</td>
                        <td>{{ obj.phone_numbers }}</td>
                        <td>{{ obj.website }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="" class="btn btn-sm btn-primary">View</a>
                                <a href="{% url 'company-update' obj.pk %}" class="btn btn-sm btn-info">Update</a>
                                <a href="{% url 'company-delete' obj.pk %}" class="btn btn-sm btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">Nothing Added</td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
                
        </section>
    </div>
</div>
{% endblock %}