{% extends "base/base.html" %}
{% block content %}
<div class="panel">
    <ol class="breadcrumb">
        <li>Home</li>
        <li>Organization</li>
        <li>Company</li>
        <li>{{object}}</li>
        <li>Delete</li>
    </ol>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="widget">
            <header>
                <h4>
                    Confirm <span class="fw-semi-bold">Delete?</span>
                </h4>
                <div class="widget-controls">
                    <a href="#"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <form method="post" target=".">
                    {% csrf_token %}
                    Are you sure you want to delete the <span class="fw-semi-bold">Company</span> {{object}} ?
                    <div class='pull-right'>
                        <button class="btn btn-danger" type="submit">Yes</button>
                        <a class="btn btn-primary" href="{% url 'company-list' %}">No</a>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}