<!DOCTYPE html>
<html>
<head>
    <title>Cobalt - {{page_title}}</title>
    <link href="{{STATIC_URL}}base/sing/css/application.min.css" rel="stylesheet">
    <!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->
    <!--[if IE 9]>
        <link href="css/application-ie9-part2.css" rel="stylesheet">
    <![endif]-->
    <link rel="shortcut icon" href="{{STATIC_URL}}base/sing/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
         chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
         https://code.google.com/p/chromium/issues/detail?id=332189
         */
    </script>
    {% block extracss %}{% endblock %}
</head>
<body class="nav-collapsed">

<nav id="sidebar" class="sidebar" role="navigation">
    <div class="js-sidebar-content">
        <header class="logo hidden-xs">
            <a href="/">
                <img src="{{STATIC_URL}}base/sing/img/cobalt-logo.png" width="120" />
            </a>
        </header>
        {% block left_sidebar %}{% endblock %}
    </div>
</nav>
<!-- This is the white navigation bar seen on the top. A bit enhanced BS navbar. See .page-controls in _base.scss. -->
{% include "base/partials/top_bar.html" %}

<div class="chat-sidebar" id="chat">
    {% block right_sidebar %}{% endblock %}
</div>

<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        {% block content %}
        {% endblock %}
    </main>
</div>

{% include "base/partials/js_includes.html" %}
{% block extrajs %}
<!-- page specific libs -->


<!-- page specific js -->

{% endblock %}
</body>
</html>