{% extends "base/base.html" %}

{% block content %}
       <ol class="breadcrumb">
            <li>Employee</li>
            <li class="active">Profile</li>
        </ol>
        <h1 class="page-title">Mafinar Khan - <span class="fw-semi-bold">Profile</span></h1>
        <div class="row">
            <div class="col-md-6">
                <section class="widget">
                    <div class="widget-body">
                        <div class="widget-top-overflow text-white">
                            <div class="height-250 overflow-hidden">
                                <img class="img-responsive" src="{{STATIC_URL}}base/sing/demo/img/pictures/19.jpg">
                            </div>
                            <div class="btn-toolbar">
                                <a href="#" class="btn btn-outline btn-sm pull-right">
                                    <i class="fa fa-twitter mr-xs"></i>
                                    Follow
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 text-center">
                                <div class="post-user post-user-profile">
                                    <span class="thumb-xlg">
                                        <img class="img-circle" src="{{STATIC_URL}}base/sing/demo/img/people/a5.jpg" alt="...">
                                    </span>
                                    <h4 class="fw-normal">Mafinar <span class="fw-semi-bold">Khan</span></h4>
                                    <p>UI/UX designer</p>
                                    <a href="#" class="btn btn-danger btn-sm mt">
                                        &nbsp;Send
                                        <i class="fa fa-envelope ml-xs"></i>&nbsp;
                                    </a>
                                    <ul class="contacts">
                                        <li><i class="fa fa-phone fa-fw mr-xs"></i><a href="#"> +880 1717208051</a></li>
                                        <li><i class="fa fa-envelope fa-fw mr-xs"></i><a href="#"> mafinar.khan@bdpanacea.com</a></li>
                                        <li><i class="fa fa-map-marker fa-fw mr-xs"></i><a href="#"> Dhaka, Bangladesh</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="stats-row stats-row-profile mt text-right">
                                    <div class="stat-item">
                                        <p class="value">0</p>
                                        <h5 class="name">Posts</h5>
                                    </div>
                                    <div class="stat-item">
                                        <p class="value">0%</p>
                                        <h5 class="name">Attendance</h5>
                                    </div>
                                    <div class="stat-item">
                                        <p class="value">0</p>
                                        <h5 class="name">Activities</h5>
                                    </div>
                                </div>
                                <p class="text-right mt-lg">
                                    <a href="#" class="label label-warning"> Development </a>
                                    <a href="#" class="label label-danger ml-xs"> Operations </a>
                                    <a href="#" class="label label-default ml-xs"> Connector </a>
                                </p>
                                <p class="lead mt-lg">
                                    Mafinar Khan is the Product Manager of Panacea Systems Ltd
                                </p>
                                <p>
                                    N/A
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="activities">
                    <h2>Activities</h2>
                    <section class="event">
                        <span class="thumb-sm avatar pull-left mr-sm">
                            <img class="img-circle" src="{{STATIC_URL}}base/sing/demo/img/people/a5.jpg" alt="...">
                        </span>
                        <h4 class="event-heading"><a href="#">Mafinar Khan</a> <small><a href="#">@mafinar</a></small></h4>
                        <p class="fs-sm text-muted">Yesterday</p>
                        <p class="fs-mini">
                            <a>Department 1</a> was updated at 9:00 AM
                        </p>
                        <footer>
                            <ul class="post-links">
                                <li><a href="#">9:00 AM</a></li>
                                <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>
                                <li><a href="#">Comment</a></li>
                            </ul>
                        </footer>
                    </section>
                    
                    <form class="mt" action="#">
                        <div class="form-group mb-0">
                            <label class="sr-only" for="new-event">New event</label>
                            <textarea class="form-control" id="new-event" placeholder="Post something..." rows="3"></textarea>
                        </div>
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-gray">
                                    <i class="fa fa-camera fa-lg"></i>
                                </a>
                                <a href="#" class="btn btn-sm btn-gray">
                                    <i class="fa fa-map-marker fa-lg"></i>
                                </a>
                            </div>
                            <button type="submit" class="btn btn-danger btn-sm pull-right">Post</button>
                        </div>
                    </form>
                </section>
            </div>
            <div class="row">
                <div class="col-md-12">

<h1 class="page-title">Detailed - <span class="fw-semi-bold">Information</span></h1>
        <div class="row mb-lg">
            <div class="col-md-6">
                <div class="clearfix">
                    <ul id="tabs1" class="nav nav-tabs pull-left"> <!-- remove pull-left to get a cool effect too -->
                        <li><a href="#tab2" data-toggle="tab">Personal</a></li>
                        <li class=""><a href="#tab2" data-toggle="tab">Official</a></li>
                        <li class=""><a href="#tab3" data-toggle="tab">Leave</a></li>
                        <li class="active"><a href="#tab1" data-toggle="tab">Attendance</a></li>
                        <li class=""><a href="#tab5" data-toggle="tab">Benefits</a></li>
                    </ul>
                </div>
                <div id="tabs1c" class="tab-content mb-lg">
                    <div class="tab-pane active clearfix" id="tab1">
                        <h2>Attendance</h2>

                        <p>
                        <table class="table table-bordered table-lg mt-lg mb-0">
                            <thead>
                            <tr>
                                <th>
                                    <div class="checkbox">
                                        <input id="checkbox10" type="checkbox" data-check-all>
                                        <label for="checkbox10"></label>
                                    </div>
                                </th>
                                <th>Date</th>
                                <th class="text-align-right">In-time</th>
                                <th class="text-align-center">Out-time</th>
                                <th class="text-align-center">Remarks</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <input id="checkbox11" type="checkbox" data-check-all>
                                        <label for="checkbox11"></label>
                                    </div>
                                </td>
                                <td>January 14, 2017</td>
                                <td class="text-align-right">10:00 AM</td>
                                <td class="text-align-center">7:45 PM</td>
                                <td class="text-align-center"> - </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <input id="checkbox11" type="checkbox" data-check-all>
                                        <label for="checkbox11"></label>
                                    </div>
                                </td>
                                <td>January 15, 2017</td>
                                <td class="text-align-right">9:40 AM</td>
                                <td class="text-align-center">7:56 PM</td>
                                <td class="text-align-center"> - </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <input id="checkbox11" type="checkbox" data-check-all>
                                        <label for="checkbox11"></label>
                                    </div>
                                </td>
                                <td>January 16, 2017</td>
                                <td class="text-align-right">9:10 AM</td>
                                <td class="text-align-center">8:05 PM</td>
                                <td class="text-align-center"> - </td>
                            </tr>
                            
                            </tbody>
                        </table>

                        </p>
                        <div class="pull-right">
                            <button class="btn btn-inverse">Accept All</button>
                            <button class="btn btn-primary">Select for Month</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tabbable tabs-left mb-lg">
                    <ul id="tabs2" class="nav nav-tabs">
                        <li class=""><a href="#tab12" data-toggle="tab">Attendance</a></li>
                        <li class="active"><a href="#tab22" data-toggle="tab">Leave</a></li>
                        <li class=""><a href="#tab32"  data-toggle="tab">Other</a></li>
                    </ul>
                    <div id="tabs2c" class="tab-content">
                        <div class="tab-pane" id="tab12">
                            <p>
                                I had an idea named Great Work. It was a service aimed to help people find their passion.
                                Yes I know it sound crazy and super naïve but I worked on that. I started to work on
                                planning, graphics, presentations, pictures, descriptions, articles, investments and so on.
                                I worked on everything but not the project itself.
                            </p>
                        </div>
                        <div class="tab-pane active" id="tab22">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Casual</th>
                                        <th>Sick</th>
                                        <th>Annual</th>
                                        <th>Other</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><h2>12</h2></td>
                                        <td><h2>12</h2></td>
                                        <td><h2>10</h2></td>
                                        <td><h2>34</h2></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab32">
                            <p> If you will think too much it will sink in the swamp of never implemented plans and
                                ideas or will just go away or will be implemented by someone else.</p>
                            <p><strong>5 months of doing everything to achieve nothing.</strong></p>
                            <p>You'll automatically skip - because you know - it's just non-informative stub. But what if there some text like this one?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tabbable tabs-right">
                    <ul id="tabs3" class="nav nav-tabs">
                        <li class=""><a href="#tab13" data-toggle="tab">Project</a></li>
                        <li class=""><a href="#tab23" data-toggle="tab">Documents</a></li>
                        <li class="active"><a href="#tab33"  data-toggle="tab">Other</a></li>
                    </ul>
                    <div id="tabs3c" class="tab-content">
                        <div class="tab-pane" id="tab13">
                            <p>
                                I had an idea named Great Work. It was a service aimed to help people find their passion.
                                Yes I know it sound crazy and super naïve but I worked on that. I started to work on
                                planning, graphics, presentations, pictures, descriptions, articles, investments and so on.
                                I worked on everything but not the project itself.
                                I had an idea named Great Work. It was a service aimed to help people find their passion.
                                Yes I know it sound crazy and super naïve but I worked on that. I started to work on
                                planning, graphics, presentations, pictures, descriptions, articles, investments and so on.
                                I worked on everything but not the project itself.
                                I had an idea named Great Work. It was a service aimed to help people find their passion.
                                Yes I know it sound crazy and super naïve but I worked on that. I started to work on
                                planning, graphics, presentations, pictures, descriptions, articles, investments and so on.
                                I worked on everything but not the project itself.
                                I had an idea named Great Work. It was a service aimed to help people find their passion.
                                Yes I know it sound crazy and super naïve but I worked on that. I started to work on
                                planning, graphics, presentations, pictures, descriptions, articles, investments and so on.
                                I worked on everything but not the project itself.
                            </p>
                        </div>
                        <div class="tab-pane" id="tab23">
                            <p>Why don't use Lore Ipsum? I think if some one says don't use lore ipsum it's very controversial
                                point. I think the opposite actually. Everyone knows what is lore ipsum - it is easy to understand if text is lore ipsum.</p>
                            <div class="clearfix">
                                <div class="btn-toolbar">
                                    <a class="btn btn-primary" href="#">&nbsp;&nbsp;Check&nbsp;&nbsp;</a>
                                    <a class="btn btn-default" href="#">&nbsp;&nbsp;Dance?&nbsp;&nbsp;</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane active" id="tab33">
                            <p style="height: 200px">N/A</p>
                        </div>
                    </div>
                </div>


                </div>
            </div>
            </div>
        </div>
{% endblock %}