{% extends "base/base.html" %}
{% block content %}
        <ol class="breadcrumb">
            <li>People</li>
            <li class="active">Time Line</li>
        </ol>
        <div class="row">
            <div class="col-md-6">
<h1 class="page-title">Events - <span class="fw-semi-bold">Chronicles</span></h1>
        <ul class="timeline">
            <li>
                <time class="event-time" datetime="2014-05-19 03:04">
                    <span class="date">Today</span>
                    <span class="time">9:41 <span class="fw-semi-bold">am</span></span>
                </time>
                <span class="event-icon event-icon-primary">
                    <i class="glyphicon glyphicon-comment"></i>
                </span>
                <section class="event">
                    <span class="thumb-sm avatar pull-left mr-sm">
                        <img class="img-circle" src="{{STATIC_URL}}base/sing/demo/img/people/a5.jpg" alt="...">
                    </span>
                    <h4 class="event-heading"><a href="#">Mafinar Khan</a> <small><a href="#">@mafinar</a></small></h4>
                    <p class="fs-sm text-muted">January 17, 2017</p>
                    <p class="fs-mini">
                        Project document had been uploaded
                    </p>
                    <footer>
                        <ul class="post-links">
                            <li><a href="#">5 hours</a></li>
                            <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>
                            <li><a href="#">Comment</a></li>
                        </ul>
                    </footer>
                </section>
            </li>
            <li class="on-left">
                <time class="event-time" datetime="2014-05-19 03:04">
                    <span class="date">Today</span>
                    <span class="time">30 Minutes ago</span></span>
                </time>
                <span class="event-icon event-icon-danger">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
                <section class="event">
                    <h4 class="event-heading"><a href="#">Mafinar Khan</a> <small>@mafinar</small></h4>
                    <p class="fs-sm text-muted">January 17, 2017</p>
                    <p class="fs-mini">
                        Accepted a leave application from <a href="#">Hasan M Sohan</a> <small>@ekthiandor</small>
                    </p>
                    <footer>
                        <div class="clearfix">
                            <ul class="post-links mt-sm pull-left">
                                <li><a href="#">1 hour</a></li>
                                <li><a href="#"><span class="text-danger"><i class="fa fa-heart-o"></i> Like</span></a></li>
                                <li><a href="#">Comment</a></li>
                            </ul>

                            <span class="thumb thumb-sm pull-right">
                                <a href="#">
                                    <img class="img-circle" src="{{STATIC_URL}}base/sing/demo/img/people/a1.jpg">
                                </a>
                            </span>
                            <span class="thumb thumb-sm pull-right">
                                <a href="#"><img class="img-circle" src="{{STATIC_URL}}base/sing/demo/img/people/a5.jpg"></a>
                            </span>
                            <span class="thumb thumb-sm pull-right">
                                <a href="#"><img class="img-circle" src="{{STATIC_URL}}base/sing/demo/img/people/a3.jpg"></a>
                            </span>
                        </div>
                        <ul class="post-comments mt-sm">
                            <li>
                                <span class="thumb-xs avatar pull-left mr-sm">
                                    <img class="img-circle" src="{{STATIC_URL}}base/sing/demo/img/people/a1.jpg" alt="...">
                                </span>
                                <div class="comment-body">
                                    <h6 class="author fw-semi-bold">Hasan M Sohan <small>6 mins ago</small></h6>
                                    <p>Sorry for the delay.</p>
                                </div>
                            </li>
                            <li>
                                <span class="thumb-xs avatar pull-left mr-sm">
                                    <img class="img-circle" src="{{STATIC_URL}}base/sing/img/avatar.png" alt="...">
                                </span>
                                <div class="comment-body">
                                    <input class="form-control input-sm" type="text" placeholder="Write your comment...">
                                </div>
                            </li>
                        </ul>
                    </footer>
                </section>
            </li>
        </ul>
            </div>
        </div>
        
{% endblock %}

{% block extrajs %}
<script src="{{STATIC_URL}}base/sing/demo/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<!-- page specific js -->

{% endblock %}