{% extends "base/base.html" %}

{% block content %}
<ol class="breadcrumb">
    <li>Money</li>
    <li class="active">GLA-1922</li>
</ol>
<h1 class="page-title">General Ledger Account - <span class="fw-semi-bold">Sales</span></h1>

<div class="row">
    <div class="col-md-9">
                <section class="widget">
                    <header>
                        <h2>GLA-1922 <span class="fw-semi-bold">Sales</span></h2>
                        <div class="widget-controls">
                            <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a data-widgster="close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <table class="table table-striped">
                            <thead>
                                <tr><th>Code</th><td>GLA-1922</td></tr>
                                <tr><th>Account Type</th><td>DEBIT</td></tr>
                                <tr><th>Parent Account</th><td><a href="">Sales</a></td></tr>
                                <tr><th>Description</th><td>N/A</td></tr>
                                <tr><th>Last Transaction</th><td>January 15, 2017</td></tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <br><br>
                        <h3>Related <span class="fw-semi-bold">Journals</span></h3>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Code</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Debit</th>
                                    <th>Credit</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td>1</td>
                                    <td>JR-101</td>
                                    <td>Autogenerated from Bill</td>
                                    <td>N/A</td>
                                    <td>10,000</td>
                                    <td>10,000</td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-primary">View</button>
                                            <button class="btn btn-info">Update</button>
                                            <button class="btn btn-danger">Delete</button>
                                        </div>
                                    </td>
                                    </tr>
                                    <tr>
                                    <td>2</td>
                                    <td>JR-091</td>
                                    <td>CF</td>
                                    <td>N/A</td>
                                    <td>90,000</td>
                                    <td>90,000</td>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn btn-primary">View</button>
                                            <button class="btn btn-info">Update</button>
                                            <button class="btn btn-danger">Delete</button>
                                        </div>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <section class="widget bg-primary text-white">
            <div class="widget-body clearfix">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="widget-icon">
                            <i class="glyphicon glyphicon-stats"></i>
                        </span>
                    </div>
                    <div class="col-xs-9">
                        <h5 class="no-margin">Today</h5>
                        <p class="h2 no-margin fw-normal">BDT 10,000</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h5 class="no-margin">In</h5>
                        <p class="value4">BDT 10,000</p>
                    </div>
                    <div class="col-xs-6">
                        <h5 class="no-margin">Out</h5>
                        <p class="value4">0</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-3 col-sm-6">
        <section class="widget bg-success text-white">
            <div class="widget-body clearfix">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="widget-icon">
                            <i class="glyphicon glyphicon-stats"></i>
                        </span>
                    </div>
                    <div class="col-xs-9">
                        <h5 class="no-margin">This Week</h5>
                        <p class="h2 no-margin fw-normal">BDT 100,000</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h5 class="no-margin">In</h5>
                        <p class="value4">BDT 990,000</p>
                    </div>
                    <div class="col-xs-6">
                        <h5 class="no-margin">Out</h5>
                        <p class="value4">BDT 10,000</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-3 col-sm-6">
        <section class="widget bg-info text-white">
            <div class="widget-body clearfix">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="widget-icon">
                            <i class="glyphicon glyphicon-stats"></i>
                        </span>
                    </div>
                    <div class="col-xs-9">
                        <h5 class="no-margin">This Year</h5>
                        <p class="h2 no-margin fw-normal">BDT 100,000</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h5 class="no-margin">In</h5>
                        <p class="value4">BDT 990,000</p>
                    </div>
                    <div class="col-xs-6">
                        <h5 class="no-margin">Out</h5>
                        <p class="value4">BDT 10,000</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
            <div class="col-md-9">
                <section class="widget widget-chart-stats-simple">
                    <header>
                        <div class="row">
                            <div class="col-xs-3">
                                <h4>
                                    Total Sales
                                </h4>
                                <p class="value4">
                                    January, 2017
                                </p>
                            </div>
                            <div class="col-xs-3">
                                <h4>
                                    <small>Best</small>
                                </h4>
                                <p class="value5">
                                    January 10, 2017
                                </p>
                            </div>
                        </div>
                        <div class="widget-controls">
                            <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <div class="chart-stats">
                            Three pending Journal approval requests.
                            <div class="btn-toolbar">
                                <button class="btn btn-xs btn-success">View</button>
                                <button class="btn btn-xs btn-default">Hide</button>
                            </div>
                        </div>
                        <div class="chart bg-body-light">
                            <div id="chart-stats-simple" class="chart-inner"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

{% endblock %}

{% block extrajs %}
<!-- page specific libs -->
<script src="{{STATIC_URL}}base/sing/vendor/underscore/underscore.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/jquery.sparkline/index.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/d3/d3.min.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/rickshaw/rickshaw.min.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/raphael/raphael-min.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/jQuery-Mapael/js/jquery.mapael.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/jQuery-Mapael/js/maps/usa_states.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/jQuery-Mapael/js/maps/world_countries.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/flot/jquery.flot.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/MetroJS/release/MetroJs.Full/MetroJs.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/skycons/skycons.js"></script>

<!-- page specific js -->
<script>
    function initSalesChart(){

        //todo rewrite
        function random() {
            return (Math.floor(Math.random() * 30)) + 10;
        }
        var data1 = [], data2 = [];

        for (var i = 0; i < 25; i++){
            data1.push([i, Math.floor(5 * i) + random()])
        }
        for (i = 0; i < 25; i++){
            data2.push([i, Math.floor(4 * i) + random()])
        }

        function _initChart(){
            $.plot($("#chart-stats-simple"), [{
                data: data2, showLabels: true, label: "Visitors", labelPlacement: "below", canvasRender: true, cColor: "#FFFFFF"
            },{
                data: data1, showLabels: true, label: "Test Visitors", labelPlacement: "below", canvasRender: true, cColor: "#FFFFFF"
            }
            ], {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 1,
                        fill: false,
                        fillColor: { colors: [{ opacity: .001 }, { opacity: .5}] }
                    },
                    points: {
                        show: false,
                        fill: true
                    },
                    shadowSize: 0
                },
                legend: false,
                grid: {
                    show:false,
                    margin: 0,
                    labelMargin: 0,
                    axisMargin: 0,
                    hoverable: true,
                    clickable: true,
                    tickColor: "rgba(255,255,255,1)",
                    borderWidth: 0
                },

            });
        }

        _initChart();
    }

    initSalesChart()
</script>

{% endblock %}