{% extends "base/base.html" %}

{% block content %}
<div class="row">
    <ol class="breadcrumb">
        <li>Depot</li>
        <li class="active">Article Detail</li>
    </ol>
    <h1>Item - <span class="fw-semi-bold">#11003235</span></h1>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
                <section class="widget">
                    <!-- .widget>header is generally a place for widget title and widget controls. see .widget in _base.scss -->
                    <header>
                        <h5>
                            FINISHED - WAREHOUSE
                        </h5>
                        <div class="widget-controls">
                            <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <div class="stats-row">
                            <div class="stat-item">
                                <h6 class="name">Area</h6>
                                <p class="value">760 SQ FEET</p>
                            </div>
                            <div class="stat-item">
                                <h6 class="name">Variation</h6>
                                <p class="value">10.38%</p>
                            </div>
                            <div class="stat-item">
                                <h6 class="name">Oldest</h6>
                                <p class="value">3 days</p>
                            </div>
                        </div>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                            </div>
                        </div>
                        <p>
                            <small><span class="circle bg-warning"><i class="glyphicon glyphicon-chevron-up"></i></span></small>
                            <span class="fw-semi-bold">17% higher</span>
                            than last week</p>
                    </div>
                </section>
        </div>
        <div class="row">
                <section class="widget">
                    <!-- .widget>header is generally a place for widget title and widget controls. see .widget in _base.scss -->
                    <header>
                        <h5>
                            WET BLUE - TRANSIT BAY
                        </h5>
                        <div class="widget-controls">
                            <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <div class="stats-row">
                            <div class="stat-item">
                                <h6 class="name">OLDEST</h6>
                                <p class="value">7 days</p>
                            </div>
                            <div class="stat-item">
                                <h6 class="name">LATEST</h6>
                                <p class="value">1 day</p>
                            </div>
                            <div class="stat-item">
                                <h6 class="name">Capacity</h6>
                                <p class="value">97.38%</p>
                            </div>
                        </div>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 97%;">
                            </div>
                        </div>
                        <p>
                            <small><span class="circle bg-warning"><i class="glyphicon glyphicon-chevron-up"></i></span></small>
                            <span class="fw-semi-bold">CRITICAL</span></p>
                    </div>
                </section>
        </div>
    </div>
    <div class="col-md-5">
<section class="widget">
                    <header>
                        <h2>ART-10100 <span class="fw-semi-bold">Madrid</span></h2>
                        <div class="widget-controls">
                            <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a data-widgster="close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <table class="table table-striped">
                            <thead>
                                <tr><th>Code</th><td>ART-10100</td></tr>
                                <tr><th>Total (SQ Feet)</th><td>110,000</td></tr>
                                <tr><th>Description</th><td>N/A</td></tr>
                                <tr><th>Sales Order</th><td>7</td></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="4">
                                        SOURCE: PIPELINE
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br><br>
                        <h3>All <span class="fw-semi-bold">Warehouses</span></h3>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Amount (Transit/Dispatch Bay)</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Raw Material</td>
                                        <td>0 (0)</td>
                                        <td>
                                            <div class="btn-group">
                                                <button class="btn btn-primary">View</button>
                                                <button class="btn btn-info">Update</button>
                                                <button class="btn btn-danger">Delete</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Beam-House</td>
                                        <td>0 (0)</td>
                                        <td>
                                            <div class="btn-group">
                                                <button class="btn btn-primary">View</button>
                                                <button class="btn btn-info">Update</button>
                                                <button class="btn btn-danger">Delete</button>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>3</td>
                                        <td>Wet Blue</td>
                                        <td>100 (97)</td>
                                        <td>
                                            <div class="btn-group">
                                                <button class="btn btn-primary">View</button>
                                                <button class="btn btn-info">Update</button>
                                                <button class="btn btn-danger">Delete</button>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>4</td>
                                        <td>Finished</td>
                                        <td>100,000 (7,000)</td>
                                        <td>
                                            <div class="btn-group">
                                                <button class="btn btn-primary">View</button>
                                                <button class="btn btn-info">Update</button>
                                                <button class="btn btn-danger">Delete</button>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
    </div>
    <div class="col-md-4">
        <ul class="timeline">
            <li>
                <time class="event-time" datetime="2014-05-19 03:04">
                    <span class="date">Today</span>
                    <span class="time">9:41 <span class="fw-semi-bold">am</span></span>
                </time>
                <span class="event-icon event-icon-primary">
                    <i class="glyphicon glyphicon-comment"></i>
                </span>
                <section class="event">
                    <span class="thumb-sm avatar pull-left mr-sm">
                        <img class="img-circle" src="{{STATIC_URL}}base/sing/demo/img/people/a5.jpg" alt="...">
                    </span>
                    <h4 class="event-heading"><a href="#">Mafinar Khan</a> <small><a href="#">@mafinar</a></small></h4>
                    <p class="fs-sm text-muted">January 17, 2017</p>
                    <p class="fs-mini">
                        MOVED FROM Transit Bay to Finished.
                    </p>
                    <footer>
                        <ul class="post-links">
                            <li><a href="#">5 hours</a></li>
                            <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>
                            <li><a href="#">Comment</a></li>
                        </ul>
                    </footer>
                </section>
            </li>
            <li class="on-left">
                <time class="event-time" datetime="2014-05-19 03:04">
                    <span class="date">Today</span>
                    <span class="time">30 Minutes ago</span></span>
                </time>
                <span class="event-icon event-icon-danger">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
                <section class="event">
                    <h4 class="event-heading"><a href="#">Mafinar Khan</a> <small>@mafinar</small></h4>
                    <p class="fs-sm text-muted">January 17, 2017</p>
                    <p class="fs-mini">
                        OVERLOAD ALERT: Transit Bay 97% Full for over 2 days.
                    </p>
                    <footer>
                        <div class="clearfix">
                            <ul class="post-links mt-sm pull-left">
                                <li><a href="#">1 hour</a></li>
                                <li><a href="#"><span class="text-danger"><i class="fa fa-heart-o"></i> Like</span></a></li>
                                <li><a href="#">Comment</a></li>
                            </ul>

                        </div>
                        
                    </footer>
                </section>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block extrajs %}
{% endblock %}