{% extends "base/base.html" %}
{% block content %}

        <ol class="breadcrumb">
        <li>People</li>
        <li class="active">Dashboard</li>
        </ol>
        <h1 class="page-title">Dashboard - <span class="fw-semi-bold">People</span></h1>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <section class="widget bg-primary text-white">
                    <div class="widget-body clearfix">
                        <div class="row">
                            <div class="col-xs-3">
                                <span class="widget-icon">
                                    <i class="glyphicon glyphicon-globe"></i>
                                </span>
                            </div>
                            <div class="col-xs-9">
                                <h5 class="no-margin">Employee Ratio</h5>
                                <p class="h2 no-margin fw-normal">0</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <h5 class="no-margin">Male</h5>
                                <p class="value4">0</p>
                            </div>
                            <div class="col-xs-6">
                                <h5 class="no-margin">Female</h5>
                                <p class="value4">0</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-3 col-sm-6">
                <section class="widget bg-info text-white">
                    <div class="widget-body clearfix">
                        <div class="row">
                            <div class="col-xs-3">
                                <span class="widget-icon">
                                    <i class=" glyphicon glyphicon-user"></i>
                                </span>
                            </div>
                            <div class="col-xs-9">
                                <div class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000" data-height="57">
                                    <div>
                                        <h5 class="no-margin">DEPARTMENTS</h5>
                                        <p class="h2 no-margin fw-normal">4</p>
                                    </div>
                                    <div>
                                        <h5 class="no-margin">DIVISIONS</h5>
                                        <p class="h2 no-margin fw-normal">2</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <h5 class="no-margin">New Visitors</h5>
                                <div class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000" data-height="25">
                                    <div>
                                        <p class="value4">1,332</p>
                                    </div>
                                    <div>
                                        <p class="value4">20.1%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <h5 class="no-margin">Bounce Rate</h5>
                                <div class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000" data-height="26">
                                    <div>
                                        <p class="value4">217</p>
                                    </div>
                                    <div>
                                        <p class="value4">2.3%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-3 col-sm-6">
                <section class="widget bg-gray text-white">
                    <div class="widget-body clearfix">
                        <div class="live-tile" data-mode="fade" data-speed="750" data-delay="4000" data-height="100">
                            <div class="bg-gray">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <span class="widget-icon">
                                            <i class="glyphicon glyphicon-globe"></i>
                                        </span>
                                    </div>
                                    <div class="col-xs-9">
                                        <h5 class="no-margin">ORDERS</h5>
                                        <p class="h2 no-margin fw-normal">82,765</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h5 class="no-margin">Avg. Time</h5>
                                        <p class="value4">2:56</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <h5 class="no-margin">Last Week</h5>
                                        <p class="value4">374</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <span class="widget-icon">
                                            <i class="glyphicon glyphicon-certificate"></i>
                                        </span>
                                    </div>
                                    <div class="col-xs-9">
                                        <h5 class="no-margin">PICKED ORDERS</h5>
                                        <p class="h2 no-margin fw-normal">13.8%</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h5 class="no-margin">Basic</h5>
                                        <p class="value4">3,692</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <h5 class="no-margin">Advanced</h5>
                                        <p class="value4">1,441</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-3 col-sm-6">
                <section class="widget bg-success text-white">
                    <div class="widget-body clearfix">
                        <div class="row">
                            <div class="col-xs-3">
                                <span class="widget-icon">
                                    <i class="glyphicon glyphicon-usd"></i>
                                </span>
                            </div>
                            <div class="col-xs-9">
                                <h5 class="no-margin">TOTAL PROFIT</h5>
                                <p class="h2 no-margin fw-normal">$7,448</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <h5 class="no-margin">Last Month</h5>
                                <p class="value4">$83,541</p>
                            </div>
                            <div class="col-xs-6">
                                <h5 class="no-margin">Last Week</h5>
                                <p class="value4">$17,926</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <section class="widget widget-chart-stats-simple">
                    <header>
                        <div class="row">
                            <div class="col-xs-3">
                                <h4>
                                    Total Sales
                                </h4>
                                <p class="value4">
                                    January, 2014
                                </p>
                            </div>
                            <div class="col-xs-3">
                                <h4>
                                    <small>Best</small>
                                </h4>
                                <p class="value5">
                                    March, 2013 + 1
                                </p>
                            </div>
                        </div>
                        <div class="widget-controls">
                            <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <div class="chart-stats">
                            <p class="text-muted fs-mini mt-xs">
                                <i class="fa fa-map-marker fa-5x pull-left"></i>
                                <span class="fw-semi-bold text-gray-dark">Jess:</span> Seems like statically it's getting impossible to achieve any sort of
                                results in nearest future. The only thing we can hope for is pressing one of these two buttons:
                            </p>
                            <div class="btn-toolbar">
                                <button class="btn btn-xs btn-success">Accept</button>
                                <button class="btn btn-xs btn-default">Reject</button>
                            </div>
                        </div>
                        <div class="chart bg-body-light">
                            <div id="chart-stats-simple" class="chart-inner"></div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="widget widget-chart-stats-simple">
                    <header>
                        <h5 class="mb-0">
                            <span class="fw-semi-bold">Budget</span> <span class="badge bg-danger">2017</span>
                        </h5>
                        <span class="text-muted fs-mini">monthly report will be available in <a href="#">6 hours</a></span>
                        <div class="widget-controls">
                            <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <div class="chart-stats">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="clearfix">
                                        <h6 class="pull-left text-muted mb-xs">
                                            Income
                                        </h6>
                                        <p class="pull-right h5 mb-xs">
                                            <span class="fw-semi-bold">$14,595</span>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                        <h6 class="pull-left no-margin text-muted">
                                            Recent
                                        </h6>
                                        <p class="pull-right">
                                            <span class="fw-semi-bold">$7,647</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-3 text-align-right">
                                    <h6 class="text-muted mb-xs">Inqueries</h6>
                                    <p class="fw-semi-bold">73 at 14am</p>
                                </div>
                                <div class="col-sm-4 text-align-right">
                                    <h6 class="text-muted mb-xs">Last Updated</h6>
                                    <p class="fw-semi-bold">23.06.2013</p>
                                </div>
                            </div>
                        </div>
                        <div class="chart bg-body-light">
                            <div id="chart-stats-simple-2" class="chart-inner"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <section class="widget">
                    <div class="widget-controls">
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                    <div class="widget-body">
                        <div class="widget-top-overflow windget-padding-md clearfix bg-warning text-white">
                            <h3 class="mt-lg mb-lg">Sing - <span class="fw-semi-bold">Next Generation</span> Admin Dashboard
                                Template</h3>
                            <ul class="tags text-white pull-right">
                                <li><a href="#">features</a></li>
                            </ul>
                        </div>
                        <div class="post-user mt-n-lg">
                            <span class="thumb-lg pull-left mr">
                                <img class="img-circle" src="{{STATIC_URL}}base/sing/demo/img/people/a4.jpg" alt="...">
                            </span>
                            <h5 class="mt-sm fw-normal text-white">Jeremy <small class="text-white text-light">@sing</small></h5>
                            <p class="fs-mini text-muted"><time>25 mins</time> &nbsp; <i class="fa fa-map-marker"></i> &nbsp; near Amsterdam</p>
                        </div>
                        <p class="text-light fs-mini m">Lots of cool stuff is happening around you. Just calm down for a sec and listen. Colors, sounds,
                            thoughts, ideas. </p>
                    </div>
                    <footer class="bg-body-light">
                        <ul class="post-links">
                            <li><a href="#">1 hour</a></li>
                            <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>
                            <li><a href="#">Comment</a></li>
                        </ul>
                        <ul class="post-comments mt mb-0">
                            <li>
                                <span class="thumb-xs avatar pull-left mr-sm">
                                    <img class="img-circle" src="{{STATIC_URL}}base/sing/demo/img/people/a1.jpg" alt="...">
                                </span>
                                <div class="comment-body">
                                    <h6 class="author fw-semi-bold">Ignacio Abad <small>6 mins ago</small></h6>
                                    <p>Hey, have you heard anything about that?</p>
                                </div>
                            </li>
                            <li>
                                <span class="thumb-xs avatar pull-left mr-sm">
                                    <img class="img-circle" src="{{STATIC_URL}}base/sing/img/avatar.png" alt="...">
                                </span>
                                <div class="comment-body">
                                    <input class="form-control input-sm" type="text" placeholder="Write your comment...">
                                </div>
                            </li>
                        </ul>
                    </footer>
                </section>
            </div>
            <div class="col-md-4">
                <section class="widget">
                    <div class="widget-controls">
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                    <div class="widget-body">
                        <div class="widget-top-overflow windget-padding-md clearfix bg-info text-white">
                            <h3 class="mt-lg mb-lg">Sing - <span class="fw-semi-bold">Next Generation</span> Admin Dashboard
                                Template</h3>
                            <ul class="tags text-white pull-right">
                                <li><a href="#">features</a></li>
                            </ul>
                        </div>
                        <div class="post-user mt-n-lg">
                            <span class="thumb-lg pull-left mr">
                                <img class="img-circle" src="{{STATIC_URL}}base/sing/demo/img/people/a4.jpg" alt="...">
                            </span>
                            <h5 class="mt-sm fw-normal text-white">Jeremy <small class="text-white text-light">@sing</small></h5>
                            <p class="fs-mini text-muted"><time>25 mins</time> &nbsp; <i class="fa fa-map-marker"></i> &nbsp; near Amsterdam</p>
                        </div>
                        <p class="text-light fs-mini m">Lots of cool stuff is happening around you. Just calm down for a sec and listen. Colors, sounds,
                            thoughts, ideas. </p>
                    </div>
                    <footer class="bg-body-light">
                        <ul class="post-links">
                            <li><a href="#">1 hour</a></li>
                            <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>
                            <li><a href="#">Comment</a></li>
                        </ul>
                        <ul class="post-comments mt mb-0">
                            <li>
                                <span class="thumb-xs avatar pull-left mr-sm">
                                    <img class="img-circle" src="{{STATIC_URL}}base/sing/demo/img/people/a1.jpg" alt="...">
                                </span>
                                <div class="comment-body">
                                    <h6 class="author fw-semi-bold">Ignacio Abad <small>6 mins ago</small></h6>
                                    <p>Hey, have you heard anything about that?</p>
                                </div>
                            </li>
                            <li>
                                <span class="thumb-xs avatar pull-left mr-sm">
                                    <img class="img-circle" src="{{STATIC_URL}}base/sing/img/avatar.png" alt="...">
                                </span>
                                <div class="comment-body">
                                    <input class="form-control input-sm" type="text" placeholder="Write your comment...">
                                </div>
                            </li>
                        </ul>
                    </footer>
                </section>
            </div>
            <div class="col-md-4">
                <section class="widget">
                    <div class="widget-controls">
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                    <div class="widget-body">
                        <div class="post-user mt-n-xs">
                            <span class="thumb pull-left mr">
                                <img class="img-circle" src="{{STATIC_URL}}base/sing/demo/img/people/a2.jpg" alt="...">
                            </span>
                            <h5 class="mb-xs mt-xs">Jess <span class="fw-semi-bold">@jessica</span></h5>
                            <p class="fs-mini text-muted"><time>25 mins</time> &nbsp; <i class="fa fa-map-marker"></i> &nbsp; near Amsterdam</p>
                        </div>
                        <div class="widget-middle-overflow windget-padding-md clearfix bg-danger text-white">
                            <h3 class="mt-lg mb-lg">Sing - <span class="fw-semi-bold">Next Generation</span> Admin Dashboard
                                Template</h3>
                            <ul class="tags text-white pull-right">
                                <li><a href="#">design</a></li>
                            </ul>
                        </div>
                        <p class="text-light fs-mini mt-sm">Lots of cool stuff is happening around you. Just calm down for a sec and listen. Colors, sounds,
                            thoughts, ideas. </p>
                    </div>
                    <footer class="bg-body-light">
                        <ul class="post-links">
                            <li><a href="#">1 hour</a></li>
                            <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>
                            <li><a href="#">Comment</a></li>
                        </ul>
                    </footer>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6">
                        <section class="widget widget-chart-simple widget-sm">
                            <div class="widget-body">
                                <h5 class="mb-xs fw-normal">
                                    Nasdaq
                                </h5>
                                <div class="chart-value">
                                    355 <span class="fw-semi-bold">USD</span>
                                </div>
                                <p>Last Sale 354.94 USD</p>
                                <div class="chart">
                                    <div id="chart-simple"></div>
                                </div>
                            </div>
                        </section>
                        <section class="widget widget-sm bg-primary">
                            <div class="widget-body">
                                <p class="mb-xs"><i class="fa fa-arrow-circle-up fa-3x opacity-50"></i></p>
                                <p class="text-light mb"><time>10 June</time></p>
                                <h3>
                                    Lots of <span class="fw-semi-bold">new</span> amazing possibilities
                                </h3>
                                <p class="fs-mini mt">
                                    <span class="fw-semi-bold">214</span> likes
                                    &nbsp;
                                    <span class="fw-semi-bold">96</span> comments
                                </p>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-6">
                        <section class="widget widget-sm bg-success text-white">
                            <div class="widget-body">
                                <p class="mb-xs"><i class="fa fa-comments fa-2x"></i></p>
                                <h4>
                                    Lots of <span class="fw-semi-bold">possibilities</span> to customize your
                                    new <span class="fw-semi-bold">admin template</span>
                                </h4>
                                <p class="fs-mini mt-sm">
                                    <span class="fw-semi-bold">83</span> likes
                                    &nbsp;
                                    <span class="fw-semi-bold">96</span> comments
                                    &nbsp;
                                    <span class="fw-semi-bold">7</span> shares
                                </p>
                                <p class="text-light fs-sm mt-lg"><time>10 June</time></p>
                            </div>
                        </section>
                        <section class="widget widget-sm">
                            <header>
                                <h5>Server <span class="fw-semi-bold">Overview</span></h5>
                            </header>
                            <div class="widget-body">
                                <div class="clearfix fs-mini">
                                    <span class="pull-right no-margin fw-semi-bold">CPU</span>
                                    <span class="fs-mini">60% / 37°C / 3.3 Ghz</span>
                                </div>
                                <div class="progress progress-xs">
                                    <div class="progress-bar" style="width: 70%;"></div>
                                </div>
                                <div class="clearfix fs-mini mt">
                                    <span class="pull-right no-margin fw-semi-bold">Mem</span>
                                    <span class="fs-mini">29% / 4GB (16 GB)</span>
                                </div>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-warning" style="width: 29%;"></div>
                                </div>
                                <div class="clearfix fs-mini mt">
                                    <span class="pull-right no-margin fw-semi-bold">LAN</span>
                                    <span class="fs-mini">6 Mb/s <i class="fa fa-caret-down"></i> &nbsp; 3 Mb/s <i class="fa fa-caret-up"></i></span>
                                </div>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 48%;"></div>
                                </div>
                                <div class="clearfix fs-mini mt">
                                    <span class="pull-right no-margin fw-semi-bold">Access</span>
                                    <span class="fs-mini">17 Mb/s <i class="fa fa-caret-up"></i> &nbsp; (+18%)</span>
                                </div>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-success" style="width: 64%;"></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

<div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6">
                        <section class="widget widget-chart-simple widget-sm">
                            <div class="widget-body">
                                <h5 class="mb-xs fw-normal">
                                    Nasdaq
                                </h5>
                                <div class="chart-value">
                                    355 <span class="fw-semi-bold">USD</span>
                                </div>
                                <p>Last Sale 354.94 USD</p>
                                <div class="chart">
                                    <div id="chart-simple"></div>
                                </div>
                            </div>
                        </section>
                        <section class="widget widget-sm bg-primary">
                            <div class="widget-body">
                                <p class="mb-xs"><i class="fa fa-arrow-circle-up fa-3x opacity-50"></i></p>
                                <p class="text-light mb"><time>10 June</time></p>
                                <h3>
                                    Lots of <span class="fw-semi-bold">new</span> amazing possibilities
                                </h3>
                                <p class="fs-mini mt">
                                    <span class="fw-semi-bold">214</span> likes
                                    &nbsp;
                                    <span class="fw-semi-bold">96</span> comments
                                </p>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-6">
                        <section class="widget widget-sm bg-success text-white">
                            <div class="widget-body">
                                <p class="mb-xs"><i class="fa fa-comments fa-2x"></i></p>
                                <h4>
                                    Lots of <span class="fw-semi-bold">possibilities</span> to customize your
                                    new <span class="fw-semi-bold">admin template</span>
                                </h4>
                                <p class="fs-mini mt-sm">
                                    <span class="fw-semi-bold">83</span> likes
                                    &nbsp;
                                    <span class="fw-semi-bold">96</span> comments
                                    &nbsp;
                                    <span class="fw-semi-bold">7</span> shares
                                </p>
                                <p class="text-light fs-sm mt-lg"><time>10 June</time></p>
                            </div>
                        </section>
                        <section class="widget widget-sm">
                            <header>
                                <h5>Server <span class="fw-semi-bold">Overview</span></h5>
                            </header>
                            <div class="widget-body">
                                <div class="clearfix fs-mini">
                                    <span class="pull-right no-margin fw-semi-bold">CPU</span>
                                    <span class="fs-mini">60% / 37°C / 3.3 Ghz</span>
                                </div>
                                <div class="progress progress-xs">
                                    <div class="progress-bar" style="width: 70%;"></div>
                                </div>
                                <div class="clearfix fs-mini mt">
                                    <span class="pull-right no-margin fw-semi-bold">Mem</span>
                                    <span class="fs-mini">29% / 4GB (16 GB)</span>
                                </div>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-warning" style="width: 29%;"></div>
                                </div>
                                <div class="clearfix fs-mini mt">
                                    <span class="pull-right no-margin fw-semi-bold">LAN</span>
                                    <span class="fs-mini">6 Mb/s <i class="fa fa-caret-down"></i> &nbsp; 3 Mb/s <i class="fa fa-caret-up"></i></span>
                                </div>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 48%;"></div>
                                </div>
                                <div class="clearfix fs-mini mt">
                                    <span class="pull-right no-margin fw-semi-bold">Access</span>
                                    <span class="fs-mini">17 Mb/s <i class="fa fa-caret-up"></i> &nbsp; (+18%)</span>
                                </div>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-success" style="width: 64%;"></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <section class="widget">
                    <div class="widget-body">
                        <div id="map-years-mapael" class="mapael">
                            <div class="stats">
                                <h5 class="text-gray-dark">YEARLY <span class="fw-semi-bold">DISTRIBUTIONS</span></h5>
                                        <span class="pull-left mr-xs">
                                            <small><span class="circle bg-warning text-gray-dark"><i class="fa fa-plus"></i></span></small>
                                        </span>
                                <p class="h4 no-margin">
                                    <strong>17% last year</strong>
                                </p>
                            </div>
                            <div class="map">
                                <span>Alternative content for the map</span>
                            </div>
                            <ul class="map-controls nav nav-pills nav-justified">
                                <li>
                                    <a href="#" data-years-map-year="2008">2008</a>
                                </li>
                                <li class="active">
                                    <a href="#" data-years-map-year="2009">2009</a>
                                </li>
                                <li>
                                    <a href="#" data-years-map-year="2010">2010</a>
                                </li>
                                <li>
                                    <a href="#" data-years-map-year="2011">2011</a>
                                </li>
                                <li>
                                    <a href="#" data-years-map-year="2012">2012</a>
                                </li>
                                <li>
                                    <a href="#" data-years-map-year="2013">2013</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section class="widget">
                    <header class="bb">
                        <h5>Recent <span class="fw-semi-bold">Chats</span></h5>
                    </header>
                    <div class="widget-body">
                        <div class="widget-middle-overflow">
                            <ul class="list-group widget-chat-list-group">
                                <li class="list-group-item">
                                <span class="thumb">
                                    <img class="img-circle" src="{{STATIC_URL}}base/sing/demo/img/people/a6.jpg" alt="...">
                                </span>
                                    <time class="time">10 sec ago</time>
                                    <h5 class="sender">Chris Gray</h5>
                                    <p class="body">Hey! What's up? So much time since we saw each other there</p>
                                </li>
                                <li class="list-group-item on-right">
                                <span class="thumb">
                                    <img class="img-circle" src="{{STATIC_URL}}base/sing/img/avatar.png" alt="...">
                                </span>
                                    <time class="time">10 sec ago</time>
                                    <h5 class="sender">John Doe</h5>
                                    <p class="body">True! Totally makes sense. But how do we find that?</p>
                                </li>
                                <li class="list-group-item">
                                <span class="thumb">
                                    <img class="img-circle" src="{{STATIC_URL}}base/sing/demo/img/people/a6.jpg" alt="...">
                                </span>
                                    <time class="time">10 sec ago</time>
                                    <h5 class="sender">Chris Gray</h5>
                                    <p class="body">OK, but so now what? What should we do now? Not sure actually.</p>
                                </li>
                                <li class="list-group-item on-right">
                                <span class="thumb">
                                    <img class="img-circle" src="{{STATIC_URL}}base/sing/img/avatar.png" alt="...">
                                </span>
                                    <time class="time">10 sec ago</time>
                                    <h5 class="sender">John Doe</h5>
                                    <p class="body">Hey guys, didn't you notice this conversation is sort of jubberish?</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <footer class="bg-body-light bt">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="Your message">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    Send
                                </button>
                            </span>
                        </div>
                    </footer>
                </section>
            </div>
            <div class="col-md-4">
                <section class="widget bg-gray-dark text-white">
                    <div class="widget-body">
                        <h4 class="mb-lg">Recent <span class="fw-semi-bold">Update</span></h4>
                        <h6>Node.js <span class="fw-semi-bold">4.0.1 distribution</span></h6>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 77%;">
                            </div>
                        </div>
                        <p class="mt-sm mb fs-mini ">
                            <small><span class="circle bg-warning text-gray-dark"><i class="glyphicon glyphicon-chevron-up"></i></span></small>
                            <strong>17% higher</strong>
                            than last month</p>
                        <p class="fs-sm text-gray-lighter mb-0">Remaining hours</p>
                        <a class="btn btn-xs btn-gray pull-right ml-xs" href="#">
                            <i class="fa fa-compress"></i> track
                        </a>
                        <a class="btn btn-xs btn-gray pull-right" href="#">
                            <i class="fa fa-pause"></i> pause
                        </a>
                        <p class="value4">2h 56m</p>
                        <br>
                        <div id="realtime1" class="chart-overflow-bottom text-gray-dark"></div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <section class="widget windget-padding-lg">
                    <div class="widget-body clearfix">
                        <div class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000" data-height="313">
                            <div>
                                <h3>Basic & <span class="fw-semi-bold">Advanced</span> Features</h3>
                                <p class="value4 mt-lg">All you need in one app</p>
                                <div class="h4 mt-lg mb-lg">
                                    <i class="fa fa-quote-left opacity-50"></i>
                                    That's awesome!
                                    <i class="fa fa-quote-right opacity-50"></i>
                                </div>
                                <div class="widget-footer-bottom">
                                    <p>Attention to what's really important</p>
                                    <button class="btn btn-info btn-block mt">Order Now!</button>
                                </div>
                            </div>
                            <div>
                                <h3>Beautiful <span class="fw-semi-bold">Thing</span></h3>
                                <p class="value4 mt-lg">Life-time package support</p>
                                <div class="h4 mt-lg mb-lg">
                                    <i class="fa fa-quote-left opacity-50"></i>
                                    That's awesome!
                                    <i class="fa fa-quote-right opacity-50"></i>
                                </div>
                                <div class="widget-footer-bottom">
                                    <p>Attention to what's really important</p>
                                    <button class="btn btn-inverse btn-block mt"><span class="fw-semi-bold text-warning">Ready?</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-3">
                <section class="widget widget-chart-changes">
                    <div class="widget-controls">
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                    <div class="widget-body">
                        <div class="chart bg-success btlr btrr">
                            <p class="chart-value"><i class="fa fa-caret-up"></i> 352.79</p>
                            <p class="chart-value-change">+2.04 (1.69%)</p>
                            <div id="chart-changes"></div>
                        </div>
                        <h4 class="chart-title"><span class="fw-normal">Salt Lake City</span>, Utah</h4>
                        <p class="deemphasize">Today 13:34</p>
                        <div class="mt">
                            <div class="row">
                                <div class="col-xs-6">
                                    <p class="h4 no-margin">18.7M</p>
                                    <p class="deemphasize">Shares Traded</p>
                                </div>
                                <div class="col-xs-6 text-align-right">
                                    <p class="h4 no-margin">19.9B</p>
                                    <p class="deemphasize">Market Cap</p>
                                </div>
                            </div>
                        </div>
                        <div class="mt">
                            <div class="row">
                                <div class="col-xs-6">
                                    <p class="h3 no-margin text-success fw-semi-bold">+120.93</p>
                                    <p class="deemphasize">Yearly Change</p>
                                </div>
                                <div class="col-xs-6 text-align-right">
                                    <span id="chart-changes-year"></span>
                                    <p class="deemphasize">GOOG</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-3">
                <section class="widget windget-padding-lg bg-primary text-white">
                    <div class="widget-body clearfix">
                        <div class="live-tile" data-mode="carousel" data-speed="300" data-delay="3000" data-height="313">
                            <div>
                                <p class="h4 mt-xs">
                                    <i class="fa fa-quote-left opacity-50"></i>
                                    Thanks for the awesome support. That's awesome!
                                    <i class="fa fa-quote-right opacity-50"></i>
                                </p>
                                <div class="widget-footer-bottom">
                                    <span class="thumb pull-left mr">
                                        <img class="img-circle" src="{{STATIC_URL}}base/sing/demo/img/people/a4.jpg" alt="...">
                                    </span>
                                    <h4 class="no-margin mb-xs"><span class="fw-semi-bold">Miha</span> Koshir</h4>
                                    <p class="text-light">@miha</p>
                                </div>
                            </div>
                            <div>
                                <div class="clearfix mt-xs">
                                    <span class="thumb pull-left mr">
                                        <img class="img-circle" src="{{STATIC_URL}}base/sing/demo/img/people/a3.jpg" alt="...">
                                    </span>
                                    <h4 class="no-margin mb-xs"><span class="fw-semi-bold">Maryna</span> Ess</h4>
                                    <p class="text-light">@ess</p>
                                </div>
                                <div class="widget-footer-bottom">
                                    <p class="h4">
                                        <i class="fa fa-quote-left opacity-50"></i>
                                        Could have never imagined it would be so great!
                                        <i class="fa fa-quote-right opacity-50"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-3">
                <div class="live-tile" data-mode="flip" data-direction="horizontal"
                     data-speed="600" data-delay="3000" data-height="373"
                     data-play-onhover="true">
                    <div>
                        <section class="widget windget-padding-lg widget-md bg-gray-dark text-white">
                            <div class="widget-body widget-body-container">
                                <div class="text-align-center">
                                    <i class="fa fa-child text-warning fa-5x"></i>
                                </div>
                                <h3 class="fw-normal">Sing Web App</h3>
                                <div class="widget-footer-bottom">
                                    <div class="mb-sm">Cutting-edge tech and design delivered</div>
                                    <p><button class="btn btn-default btn-block">Hover over me!</button></p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div>
                        <section class="widget windget-padding-lg widget-md">
                            <div class="widget-body widget-body-container">
                                <div class="text-align-center">
                                    <i class="fa fa-globe text-primary fa-5x"></i>
                                </div>
                                <h3 class="fw-normal">Join The Web Now!</h3>
                                <div class="widget-footer-bottom">
                                    <div class="mb-sm">Cutting-edge tech and design delivered</div>
                                    <p><button class="btn btn-gray btn-block">Join now!</button></p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

        </div>
{% endblock %}

{% block extrajs %}
<!-- page specific libs -->
<script src="{{STATIC_URL}}base/sing/vendor/underscore/underscore.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/jquery.sparkline/index.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/d3/d3.min.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/rickshaw/rickshaw.min.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/raphael/raphael-min.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/jQuery-Mapael/js/jquery.mapael.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/jQuery-Mapael/js/maps/usa_states.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/jQuery-Mapael/js/maps/world_countries.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/flot/jquery.flot.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/MetroJS/release/MetroJs.Full/MetroJs.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/skycons/skycons.js"></script>

<!-- page specific js -->
<script src="{{STATIC_URL}}base/sing/demo/js/_fake-world-data.js"></script>
<script src="{{STATIC_URL}}base/sing/js/widgets.js"></script>
{% endblock %}