<!DOCTYPE html>
<html>
<head>
    <title>Cobalt - Login</title>
    <link href="{{STATIC_URL}}base/sing/css/application.min.css" rel="stylesheet">
    <!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->
    <!--[if IE 9]>
        <link href="{{STATIC_URL}}base/sing/css/application-ie9-part2.css" rel="stylesheet">
    <![endif]-->
    <link rel="shortcut icon" href="{{STATIC_URL}}base/sing/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
         chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
         https://code.google.com/p/chromium/issues/detail?id=332189
         */
    </script>
</head>
<body class="login-page">

<div class="container">
    <main id="content" class="widget-login-container" role="main">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-10 col-lg-offset-4 col-sm-offset-3 col-xs-offset-1">
                <h4 class="widget-login-logo animated fadeInUp">
                    <i class="fa fa-circle text-gray"></i>
                    People
                    <i class="fa fa-circle" style="color: #ed0027"></i>
                </h4>
                <section class="widget widget-login animated fadeInUp">
                    <header>
                        <h3>
                                            <img src="{{STATIC_URL}}base/sing/img/cobalt-logo.png" />

                        </h3>
                    </header>
                    <div class="widget-body">
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <p class="errornote" style="color: #a94442">
                            {{ error }}
                        </p>
                        {% endfor %}
                        {% endif %}

                        {% comment %}
                        {% if user.is_authenticated %}
                            <p class="errornote">
                            You are authenticated as {{ username }}, but are not authorized to
                            access this page. Would you like to login to a different account?
                            </p>
                        {% endif %}
                        {% endcomment %}

                        <form class="login-form mt-lg" action="." method="post" id="login-form">
                            {% csrf_token %}
                            <div class="form-group {% if form.username.errors %}has-error{% endif %}">
                                <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="Username">
                                {% if form.username.errors %}
                                <div class="help-block">
                                    {% for error in form.username.errors %}<p>{{error}}</p>{% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                                <input class="form-control" id="pswd" type="password" name="password" placeholder="Password">
                                {% if form.password.errors %}
                                    <div class="help-block">
                                    {% for error in form.password.errors %}<p>{{error}}</p>{% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div style="margin-bottom: 20px">
                                <input type="submit" class="btn btn-inverse btn-block btn-sm" value="Login" />
                            </div>
                            <input type="hidden" name="next" value="{{ next }}" />
                            <div class="row">
                                <div class="col-sm-6 col-sm-push-6">
                                    <div class="clearfix">
                                        <div class="checkbox widget-login-info pull-right ml-n-lg">
                                            <input type="checkbox" id="checkbox1" value="1">
                                            <label for="checkbox1">Keep me signed in </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-sm-pull-6">
                                    <a class="mr-n-lg" href="#">Trouble with account?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        {% now "Y" %} &copy; Cobalt. Panacea Systems Ltd.
    </footer>
</div>
<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>

<!-- common libraries. required for every page-->
<script src="{{STATIC_URL}}base/sing/vendor/jquery/dist/jquery.min.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/jquery-pjax/jquery.pjax.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="{{STATIC_URL}}base/sing/vendor/widgster/widgster.js"></script>

<!-- common app js -->
<script src="{{STATIC_URL}}base/sing/js/settings.js"></script>
<script src="{{STATIC_URL}}base/sing/js/app.js"></script>

<!-- page specific libs -->
<!-- page specific js -->
</body>
</html>